/*全局样式表*/
html,
body,
#app{
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1366px;/*页面最小宽度*/
}

.el-breadcrumb{
    margin-bottom: 15px;
    font-size: 12px;
}

.el-card{
    box-shadow: 0 1px 1px rgba(0,0,0,0.15) !important;
}

.el-table{
    margin-top: 15px;
    font-size: 12px;
}

table,tbody,thead {
    width: 100% !important;
}
/*
colgroup {
    position: absolute;
    width: 100% !important;
    display: flex;
}
col {
    flex: 1;
   text-align: center;
}*/

.el-steps{
    margin: 15px 0;
}

.el-step__title{
    font-size: 13px;
}

.ql-editor{
    min-height:300px;
}

.el-card{
    border-radius: 20px;
}
